<?xml version="1.0" encoding="utf-8"?>
﻿<configuration>
  <BackupDBDirectory>C:\Backup\</BackupDBDirectory>
  <RestoreDBDirectory>C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\</RestoreDBDirectory>
  <IISSites>
    <IISSite>site1.example.com</IISSite>
    <IISSite>site2.example.com</IISSite>
  </IISSites>
  <SourceDirectories>
    <Directory>C:\inetpub\wwwroot\site1.example.com</Directory>
    <Directory>C:\inetpub\wwwroot\site2.example.com</Directory>
  </SourceDirectories>
  <RestoreDirectories>
    <Directory>C:\backup\site1.example.com</Directory>
    <Directory>C:\backup\site2.example.com</Directory>
  </RestoreDirectories>
  <SQLServerDataSource>.\SQLExpress</SQLServerDataSource>
  <SQLServerUsername>sa</SQLServerUsername>
  <SQLServerPassword>1234567</SQLServerPassword>
  <SQLDatabaseNames>
    <Database>DBSample</Database>
    <Database>DBSample2</Database>
  </SQLDatabaseNames>
  <SQLDatabaseUsers>
    <DatabaseUser>dbSample</DatabaseUser>
    <DatabaseUser>dbSample</DatabaseUser>
  </SQLDatabaseUsers>
</configuration>